@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply bg-[#ff4d41] text-white py-2 px-4 rounded inline-block mt-10 font-medium border border-[#ff4d41] hover:bg-transparent hover:text-[#ff4d41] transition duration-200
    }
    .inputStyle{
        @apply outline-[#ff4d41] border-gray-400 border rounded-[5px] px-4 py-2 w-[100%]
    }
}
h1 {
    font-size: 30px;
  }
  
  .text_1 {
    animation: text1;
  }
  
  .text_2 {
    animation: text2;
  }
  
  .text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 20s;
    animation-timing-function: steps(18, end);
    animation-iteration-count: infinite;
  }
  
  .text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 3s;
    animation-timing-function: steps(1, end);
  }
  
  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 9em;
    }
  }
  
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 10em;
    }
  }
  
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  
  